<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Dimiourgia, <%= @user.lastname %>, <%= @user.firstname %> <%= @user.middlename %></h1>
    <p>
      You have successfully signed up to Dimiourgia,
      your username is: <%= @user.username %>.<br>
    </p>
    <p>
      To login and verify your email, please follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>