Welcome to Dimiourgia, <%= @user.lastname %>, <%= @user.firstname %> <%= @user.middlename %>
===============================================
 
You have successfully signed up to Dimiourgia,
your username is: <%= @user.username %>.
 
To login and verify your email, please follow this link: <%= @url %>.
 
Thanks for joining and have a great day!