<h1>Create Group - Dimiourgia</h1>

<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :Groupname %><br>
    <%= f.text_field :groupname %>
  </div>
  <div class="field">
    <%= f.label :Permissions %><br>
    <%= f.number_field :permissions %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Home', root_path %> | <%= link_to 'Back', groups_path %>
