<h1>Sign up - Dimiourgia</h1>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :Email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :Username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :FirstName %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :MiddleName %><br>
    <%= f.text_field :middlename %>
  </div>
  <div class="field">
    <%= f.label :LastName %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :Password %><br>
    <%= password_field_tag(:password) %>
  </div>
  <div class="field">
    <%= f.label :ConfirmPassword %><br>
    <%= password_field_tag(:cpassword) %>
  </div>
  <div class="field">
    <%= f.hidden_field :passhash %>
  </div>
  <div class="field">
    <%= hidden_field_tag(:hashed, 'false') %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Home', root_path %> | <%= link_to 'Login', login_path %>
