<h1><%= @user.username %></h1>
<ol>
    <li><strong>Email: </strong><%= @user.email %></li>
    <li><strong>First Name: </strong><%= @user.firstname %></li>
    <li><strong>Middle Name: </strong><%= @user.middlename %></li>
    <li><strong>Last Name: </strong><%= @user.lastname %></li>
</ol>
