<footer class="footer">
  <small>
    <a href="#">Dimiourgia</a>
    by <a href="#">Alpha</a>
    for <a href="#">Ophiuchus</a> 
    by <a href="#">Altair</a>
  </small>
  <nav>
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>